[submodule ".registry"]
	path = .registry
	url = https://github.com/antuki/universe
	shallow = true
	branch = HEAD
[submodule "COGugaison"]
	path = COGugaison
	url = https://github.com/antuki/COGugaison
	shallow = true
	registered = true
[submodule "CARTElette"]
	path = CARTElette
	url = https://github.com/antuki/CARTElette/CARTElette
	shallow = true
	registered = true
[submodule "btb"]
	path = btb
	url = https://github.com/InseeFr/btb
	shallow = true
	registered = true
